table, td, th {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    border: 1px solid black;
    float: middle;
}

th span a {
    color: orange;
    font-size: 50px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.menu {
    text-align: center;
    padding-bottom: %;
}

.menu ul {
    display: inline-table;
   
}

.menu ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
}

.about {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20%;
    font-family: "calibri";
}

.about p {
    display: inline-block;

}

.menu {
    text-align: center;
    padding-bottom: 4%;
}

.menu ul {
    display: inline-table;
    ;
}

.menu ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
}

.icons {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;
}

.icons ul {
    display: inline-table;
}

.icons ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
	 
}

.twitter {
    height: auto;
    width: 21px;
}

.instagram {
    height:18px;
    width:18px;
}

@media only screen and (min-width: 33.75em) {}

@media only screen and (min-width: 60em) {

    th {
        color: orange;
        font-size: 65px;
    }
    table, td, th {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    }
    .menu {
        padding-top: % ;
    }

    .about {
        width: 50%;
    }

    .icons {
        margin-top: -3%;
        padding-bottom: 2%;
    }
}
