body {
    height: 100%;
}

.logo {
    padding-top: 20%;
    padding-bottom: 20%;
}

table, td, th {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    float: middle;
}

th span a {
    color: orange;
    font-size: 50px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.text {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: ;
}

.text p {
    display: inline-block;
}

.footer {
    padding-top: 7%;
    padding-left: auto;
    padding-right: auto;
}

.menu {
    text-align: center;
    padding-bottom: 5%;
}

.menu ul {
    display: inline-table;
}

.menu ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
}

.icons {
    text-align: center;
    padding-top: %;
    padding-bottom: 5%;
}

.icons ul {
    display: inline-table;
}

.icons ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.twitter {
    height: auto;
    width: 21px;
}

.instagram {
    height: 18px;
    width: 18px;
}

@media only screen and (min-width: 33.75em) {}

@media only screen and (min-width: 60em) {

    body {
        height: 90%;
    }
    .logo {
        padding-top: 0%;
        padding-bottom: 0%;
    }
    th {
        color: orange;
        font-size: 65px;
    }
    table, td, th {
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .menu {
        padding-top: 12%;
        padding-bottom: 0%;
    }
    .text {
        width: 30%;
        height: 38%;
    }
    .footer {

    }
    .icons {
        padding-top: 2%;
        padding-bottom: 0%;
    }

}
