body {
    height: 100%;
    background-color: ;
}

.logo {
    padding-top: 20%;
    padding-bottom: 20%;
}

table, td, th {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    float: middle;
}

th span a {
    color: orange;
    font-size: 50px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.sorry {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

img {
    width: ;
    height: ;
}

.text {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    padding-bottom: 50%;
}


.text p {
    display: inline-block;
}

label {
    display: inline-block;
    white-space: nowrap;
}

button {
    color: #fff;
    border: solid 1px #1a528c;
    background: #0064ab; 
    background:-webkit-linear-gradient(top,#1ebdfa 0,#0064ab 100%);
    border-radius: 8px;
    font-size: 16px;
    padding: 15px 32px;
}

button:hover {
    cursor: pointer;
}
.footer {
    padding-top: 10%;
    padding-left: auto;
    padding-right: auto;
    position: relative;
}

.menu {
    text-align: center;
    padding-bottom: 5%;
}

.menu ul {
    display: inline-table;
}

.menu ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
}

.icons {
    text-align: center;
    padding-top: %;
    padding-bottom: 5%;
}

.icons ul {
    display: inline-table;
}

.icons ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.twitter {
    height: auto;
    width: 21px;
}

.instagram {
    height: 18px;
    width: 18px;
}

h1 {
color: blue;
}

@media only screen and (min-width: 33.75em) {}

@media only screen and (min-width: 60em) {
    .logo {
        padding-top: 0%;
        padding-bottom: 0%;
    }
    th {
        color: orange;
        font-size: 65px;
    }
    table, td, th {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .container {
        margin-bottom: 15%;
    }
    .landscape {
        width: 500px;
        height: 350px;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        background-image: url("picture.jpg");
    }
    .portrait {
        width: 400px;
        height: 500px;
        margin-top: -5%;
        margin-left: auto;
        margin-right: auto;
        background-image: url("picture.jpg");
    }
    .counter {
        margin-top: -10%;
        margin-bottom: 0%;
    }
    .dismiss {
        display: none;
    }
    .container:hover .overlay {
        opacity: 1;
    }

    .text {
        padding-bottom: 0%;
    }

    .footer {
    padding-top: 10%;
    padding-bottom: 3%;
    bottom: 0;
    position: relative;
    }
    .menu {
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .icons {
        padding-top: 2%;
        padding-bottom:0;
    }
}
